*
{
    margin: 0px;
    padding: 0px;
    outline: 1px solid black;
}
.container
{
    width: 970px;
    background-color: white;
}
#header
{
    height: 115px;
    background-color: white;
}
#header img
{
    width:100%;
    height:100%;
    width: 80px;
    height: 80px;
    display: inline-block;
    position: relative;
    z-index: 2;
}
#header h1
{
    width: 70%;
    font-size: 40px;
    display: inline-block;
    position: relative;
    bottom: 20px;
}
#header span
{
    color: blue;
}
#header h2
{
    background-color: blue;
    color: white;
    font-size: 30px;
    position: relative;
    z-index: 1;
    bottom: 20px;
    padding: 5px 0px 5px 20px;
}
#sidebar
{
    width: 18%;
    min-height: 350px;
    display: inline-block;
    vertical-align: top;
    font-weight: bold;
}
#question
{
    height: 190px;
    border-bottom: 1px red solid;
    padding-top: 10px;
}
#question #q2
{
    font-size: 17px;
}
#question p
{
    font-size: 14px;
}
#question span
{
    color:blue;
}
#q2 span
{
    color:red;
}
#video
{
    background-color: blue;
    color: white;
    padding: 7px;
    font-weight: bold;
    width: 100%;
    border-radius: 7px;
    margin: 20px 0px 0px 0px;
}
#more
{
    background-color: orange;
    color: white;
    padding: 7px;
    font-weight: bold;
    width: 100%;
    border-radius: 7px;
}
#advertisement
{
    background-image: url("images/ad_background.png");
    width:100%;
    height: 250px;
    text-align: center;
    margin: 20px 0px 0px 0px;
}
 #advertisement p
{
    text-align: center;
    font-size: 23px;
    color: white;
    width: 100%;
} 
#advertisement #ad
{
    height: 95px;
    width: 75px;
}
#advertisement button
{
    width: 80%;
    background-color: blue;
    color: white;
    text-align:center;
    padding: 5px;
    border-radius: 7px;
    margin: 5px 0px 0px 0px;
}
button span
{
    font-size: 6px;
    position: relative;
    bottom: 2px;
}
#main
{
    width: 77%;
    min-height: 600px;
    display: inline-block;
    margin-left:30px;
}
#main_head
{
    width: 100%;
    display: inline-block;
    padding-bottom: 5px;
    border-bottom: 1px solid red;
}
#main #phone
{
    width: 45px;
    height: 45px;
    position: relative;
    left: 405px;
    margin-top: 5px;
}
#house
{
    width:15px; 
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}
#main_head span
{
    display:inline-block;
    width: 100px;
    margin-left: 2px;
    vertical-align: top;
    margin-top: 5px;
    font-size: 14px;
    color: blue;
    font-weight: bolder;
}
#numbers
{
    display:inline-block;
    width: 30%;
    align-content: right;
    vertical-align: top;
    position: relative;
    left: 345px;
    text-align: right;
}
#main_head h1 {
    font-size: 11px;
}
#main_head h2 {
    font-size: 27px;
    color: teal;
    font-weight: 900; 
}
#main_head h3 {
    font-size: 11px;
}
#main_para ul
{
    margin-left: 35px;
    font-size: 15px;
}
#main_para li
{
    margin: 5px;
}
#main_para img
{
    width: 220px;
    height: 90px;
    margin-left: 40%;
    margin-right: 40%;
}
#main_mid ol
{
    margin-left: 35px;
    font-size: 15px;
}
#main_mid li
{
    margin: 5px;
}